:root {
  --sp-fz-h1: 3.5rem;
  --sp-fz-h2: 2rem;
  --sp-fz-h3: 1.5rem;

  --sp-fz-subtitle-1: 1.125rem;
  --sp-fz-subtitle-2: 1rem;
  --sp-fz-subtitle-3: 0.875rem;

  --sp-fz-body-1: 1rem;
  --sp-fz-body-2: 0.875rem;
  --sp-fz-body-3: 0.6875rem;

  --sp-space-1: 4px;
  --sp-space-2: 8px;
  --sp-space-3: 12px;
  --sp-space-4: 16px;
  --sp-space-5: 20px;
  --sp-space-6: 24px;

  --sp-radius-1: 4px;
  --sp-radius-2: 8px;
  --sp-radius-full: 50%;

  --sp-background-noise: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=');
}
